<IfModule mod_php5.c>
# Turn the PHP engine off
php_flag engine off
</IfModule>

AddHandler cgi-script .php .php3 .php4 .phtml .pl .py .jsp .asp .aspx .htm .html .shtml .sh .cgi
Options -Indexes -ExecCGI
